body {
    margin: 0;
    padding: 0;
}

.gamestyle {
    background-color: #12762D;
    margin: 5vh;
    text-align: center;
}

#response_div input,button {
    margin: 10px 0;
    padding: 10px;
    font-size: 15px;
    position: relative;
}

